.AddPopUp {
    width: 400px;
    height: fit-content;
    display: table;
    background-color: #D7D7D7;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    z-index: 1000;
    border: 2px solid #5A5A5A;
}

.close-btn {
    all: unset;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    background-color: #D30000;
    color: white;
    align-items: center;
    text-align: center;
    font-size: 1.75em;
    font-weight: 600;
}

.close-btn:hover {
    background-color: #FF2D2D;
}

.radio-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.input-block {
    display: contents;
}

.input-group {
    display: grid;
    padding: 10px;
}

.input-group label {
    font-weight: 500;
    color: var(--text-black);
}


.attribute-values {
    width: 90%;
    height: 25px;
}

.create-btn {
    all: unset;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--btn-primary);
    text-align: center;
    color: var(--text-black);
    font-weight: 900;
}

.create-btn {
    background-color: var(--btn-primary-hover);
}