.attributePopup {
    width: 400px;
    height: fit-content;
    display: table;
    background-color: #D7D7D7;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    z-index: 1000;
    border: 2px solid #5A5A5A;
}

.create-entity-btn {
    all: unset;

}