.entity-node {
    height: fit-content;
    width: fit-content;
    border: 3px solid rgb(71, 71, 71);
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    padding: 5px;
    border-radius: 5px;
    background: white;
    color: #222222;
    font-weight: 500;
}

.entity-node label {
    display: block;
    color: #777;
    font-size: 12px;
}

.entity-standard {}

.entity-weak {
    border: 3px solid rgb(71, 71, 71);
    padding: 5px;
}

.add-attribute {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 17px;
    font-size: 15px;
    font-weight: 800;
    z-index: 100;
    border: 1px solid #222222;
}

.add-attribute:hover {
    background-color: rgb(199, 199, 199);
    cursor: pointer;
}